.experience {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.exp__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
}
.exp__title{
    font-size: 4rem;
    font-family: "Stack Sans Notch", sans-serif;
    color: var(--cor-link);
}
.exp__subtitle{
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: var(--cor-terceira);
}
.exp__text{
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}