:root {
    --color-primary-1: #FFF8DE;
    --color-primary-2: #FFF2C6;
    --color-primary-3: #AAC4F5;
    --color-primary-4: #AAC4F5;
    --color-primary-5: #8CA9FF;
    --color-primary-6: #9EC6F3;

    --color-neutral-0: #fff;
    --color-neutral-1: #1d1d1d;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 28px 8%;
}
.section-title {
    color: #8CA9FF;
    font-size: 1.563rem;
}

.section-subtitle {
    font-size: 2.1875rem;
} 
#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#dishes {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding: 20px;
    background-color: #1d1d1d;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.dish-heart {
    position: absolute;
    background-color: #8CA9FF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: #fff;
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 37.5px 0px 42.5px;
}

.dish-description {
    color: #AAC4F5;
    text-align: center;
}

.dish-rate i {
    color: #8CA9FF;
}

.dish-price {
    display: flex;
    align-items: center;
    gap: 20px;
}
.proj__content__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
}
.proj__links{
   /* background-color: #c1ff72; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terceira);
    width: 120%;
    text-align: center;
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: "Montserrat", sans-serif;
}
.proj__links:hover {
    background-color: var(--cor-link);
}

@media screen and (max-width: 1170px) {
    #dishes {
        flex-wrap: wrap;
        justify-content: center;
    }

    .dish {
        width: calc(50% - 12px);
    }
}

@media screen and (max-width: 600px) {
    .dish {
        width: 100%;
    }

    #menu .section-subtitle {
        text-align: center;
    }
} 
